<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    BC Gov. CAPTCHA Widget Source Code and Demo
  </h1>
  <div>
    Choose captcha language
    <select [(ngModel)]="selectedLanguage">
      <option *ngFor='let lang of supportedLanguages' value={{lang[0]}}>
        {{lang[1]}}
      </option>
    </select>
    <captcha 
      apiBaseUrl="http://localhost:8080" 
      nonce="BCGov Captcha Demo" 
      language={{selectedLanguage}}
      eagerFetchAudio = "false"
      (onValidToken)="handleAuthToken($event)">
    </captcha>    

  </div>

</div>

