<html>

<body>
  <div class="container">

    <header>
      <h1>
        {{title}}

      </h1>
    </header>

    <captcha [apiBaseUrl]="api" [nonce]="23423234234" (onValidToken)="validToken($event)"></captcha>
    <hr>
    <section *ngIf="token">
      <h2>After solving, the captcha this token is used to send to the API: </h2>
      <code>{{token}}</code><br><br>
      <strong>Try decoding and verifying (requires secret) it at: <a href="https://jwt.io/" target="_blank">jwt.io</a></strong>
    </section>
  </div>
</body>

</html>
