.confirm-correct-answer {
  display:block;
  
}
.confirm-correct-answer i {
  color: green;
}
.spinner-box {
  height: 60px;
  margin: 6px 10px 6px 10px;
}

.error-captcha {
  margin-left: 10px;
}
.error-captcha i {
  color: darkorange;
}
.error-captcha p{
  margin-left: 32px;
}

.user-input {
  width: 300px;
}

.captcha-box-visible {
  display: block
}

.captcha-box-invisible{
  display: none
}